html,
body
{
    height: 100%;
}

body
{
    background: #fff;
    color: #000;
    font: 0.8em Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

:visited
{
    color: #1A3DC1;
}

.b-wrapper
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -182px;
}

.b-wrapper__push
{
    height: 182px;
}

.b-page
{
    padding: 0;
}
